<<in {title, meta, type}>>

<!doctype html>
<html lang=en-US>
<meta charset=utf8>
<meta name="viewport" content="width=device-width, initial-scale=1">

<<for name, value in meta || {}>>
  <meta property="<<t name>>" content="<<t value>>">
<</for>>

<title><<t title || "CodeMirror">></title>
<link rel=stylesheet href=<<root>>style/site.css>

<header>
  <nav>
    <a class=logo href="<<root>>">CodeMirror</a>
    <div class=navlinks>
      <a href="<<root>>examples/" <<if type == "examples">>class=active<</if>>>Examples</a>
      <a href="<<root>>docs/" <<if type == "docs">>class=active<</if>>>Documentation</a>
      <a href="https://discuss.codemirror.net/">Discuss</a>
      <a href="https://github.com/codemirror/codemirror.next/">GitHub</a>
      <a href="https://codemirror.net/5/">Version 5</a>
    </div>
  </nav>
</header>
