<nav id=toc>
  <ul>
    <<for item $in>>
      <li>
        <a href="<<t item.link>>"><<t item.name>></a>
        <<if item.children && item.children.length>><ul>
          <<for sub item.children>>
            <li><a href="<<t sub.link>>"><<t sub.name>></a>
          <</for>>
        </ul><</if>>
      </li>
    <</for>>
  </ul>
</nav>

<script>
addEventListener("load", function() {
  var toc = document.querySelector("nav#toc")
  var state = "top"
  var footer = document.querySelector("footer"), header = document.querySelector("header")
  function align() {
    var tocRect = toc.getBoundingClientRect(),
        headRect = header.getBoundingClientRect(),
        footRect = footer.getBoundingClientRect()
    if (state == "top" && headRect.bottom <= -40 ||
        state == "bottom" && toc.getBoundingClientRect().top >= 0) {
      toc.style.top = "0"
      toc.style.bottom = ""
      toc.classList.add("fixed")
      state = "fixed"
    } else if (state == "fixed" && headRect.bottom > -40) {
      toc.style.bottom = toc.style.top = ""
      toc.classList.remove("fixed")
      state = "top"
    } else if (state == "fixed" && footRect.top < tocRect.bottom) {
      toc.style.top = ""
      toc.style.bottom = footRect.height + "px"
      toc.style.top = "auto"
      toc.classList.remove("fixed")
      state = "bottom"
    }
  }
  if (document.body.scrollHeight - header.offsetHeight > innerHeight) {
    align()
    addEventListener("scroll", align)
  }
})
</script>
